$base-text-color: #222;
$border-color: #ddd;
$color-base: #222;
$color-light: #666;
$link-color: #3d81d2;
$visited-link-color: #4F6F95;

$xx-large: 30px;
$x-large: 26px;
$large: 20px;
$medium: 16px;
$small: 13px;
$s-small: 11px;

// For compass/typography/vertical_rhythm.
$base-font-size: $medium;
$base-line-height: 24px;
$relative-font-sizing: false;
